parameters:
	level: max
	paths:
		- src
		- tests
	ignoreErrors:

	treatPhpDocTypesAsCertain: false
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true
	checkGenericClassInNonGenericObjectType: false
